//******************************************************************************************************************************************************************************************
//SECTION INTRO
//******************************************************************************************************************************************************************************************

h2 {
  font-weight: 400;
}
.block-text-intro {
  margin: 2vw 10vw 2vw 10vw;
}
.text-intro {
  font-size: 1.2rem;
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}

//******************************************************************************************************************************************************************************************
//SECTION LIST NEXT PROJECTS
//******************************************************************************************************************************************************************************************

h3{
    font-weight: 300;
    font-size: 2.5vh;
    text-decoration-line: underline;
    margin-bottom:4vh;
}

.section-two-projects{
    background-color:rgb(192, 209, 191);
    height:400px;
    width: 100%;
    padding: 7vh 12vh 0vh 12vh;
    &--band-list-students{
      height: 30vh;
    }
}

.li-subject{
    text-align:center;
}

.p-when,.p-students-affiliate{
    font-weight: 800;
}

//******************************************************************************************************************************************************************************************
//SECTION LIST NEXT STUDENTS WAITING FOR A PROJECT
//******************************************************************************************************************************************************************************************

h4{
    margin:4vh 0vh 2vh 3vw;
}
