<div class="footer">
    <p>Copyright: Alban Meurice & Thomas Jamais</p> 
        <div class="contact">
            <p>Contact:</p> 
            <p>korvin.meurice@gmail.com<br/>
                thomas.jamais95@gmail.com</p>
        </div>
</div>