<div class="footer row">
    <div class="copyright col">
        <p class="pl-5">Copyright: Alban Meurice & Thomas Jamais</p>
    </div>
    <div class="part-contact row">
        <p class="p-contact d-inline col">Contact:</p>
        <div class="d-inline col">
            <p class="d-block">korvin.meurice@gmail.com</p>
            <p class="d-block">thomas.jamais95@gmail.com</p>
        </div>
    </div>
</div>