<h1 class="mx-auto">My Tech-watch Assignator</h1>
<div class="band-nav d-flex justify-content-around">
    <nav>
        <a href="http://localhost:8003/accueil" class="btn-secondary btn-lg">History Tech-wasch</a>
        <a href="http://localhost:8003/list-student" class="btn-secondary btn-lg">Student list</a>
        <a href="http://localhost:8003/assignation-project" class="btn-secondary btn-lg">Tech-watch Assignation</a>
    </nav>
</div>