<h1>My Tech-wasch Assignator</h1> 
<nav>
    <a href="#" class="btn btn-secondary">Home</a> 
    <a href="#" class="btn btn-secondary">History Tech-wasch</a> 
    <a href="#" class="btn btn-secondary">Tech-wasch Assignation</a>
</nav>