<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Students</title>
</head>

<body>
    <section>
        <ul>
            <% newStudent.forEach(function(student) { %>
            <li><%= student.name %></li>
            <% }); %>
        </ul>
    </section>
    <section>
        <form action="/list-student" method="post">
            <label for="insertname" class="label">insert Name: </label>
            <input type="text" placeholder="name" name="name">
            <button type="submit">Add</button>
        </form>
    </section>
    <section>
        <form action="/list-student/delete" method="POST">
            <label for="insertname" class="label">insert Name: </label>
            <input type="text" placeholder="name" name="name">
            <button type="submit">Delete</button>
         </form>
    </section>
</body>

</html>