<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>assignation</title>
</head>

<body>
    <section>
        <ul>
            <% newProject.forEach(function(project) { %>
            <li><%= project.subject %></li>
            <li><%= project.date %></li>
            <li>
                <% for(let i=0; i< project.students.length; i++) { %>
                <%= project.students[i].name %>
            <% } %>
            </li>
            <br/>
            <% }); %>
        </ul>
    </section>
    <section>
        <form action="/assignation-project" method="POST">
            <label for="insertname" class="label">Insert Subject :</label>
            <input type="text" placeholder="Subject" name="subject">
            <input type="text" placeholder="Number Student" name='nbr'>
            <input type="date" placeholder="Deadline" name='date'>
            <button type="submit">Create Tech-watch</button>
        </form>
    </section>
    <footer></footer>
</body>

</html>