<!DOCTYPE html>
<html lang="en">

<head> 
    
  <%- include('../partials/head') %>
</head> 

<body>
    <header> 
        <h1>My Tech-wasch Assignator</h1> 
        <%- include('../partials/header') %>
    </header>
    
    
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>