<!DOCTYPE html>
<html lang="en">

<head> 
    
  <%- include('../partials/head') %>
</head> 

<body>
    <header> 
        <%- include('../partials/header') %>
    </header>
    <section>
        <ul>
            <% newStudent.forEach(function(student) { %>
            <li><%= student.name %></li>
            <% }); %>
        </ul>
    </section>
    <section>
        <form action="/list-student" method="post">
            <label for="insertname" class="label">insert Name: </label>
            <input type="text" placeholder="name" name="name">
            <button type="submit">Add</button>
        </form>
    </section>
    <section>
        <form action="/list-student/delete" method="POST">
            <label for="insertname" class="label">insert Name: </label>
            <input type="text" placeholder="name" name="name">
            <button type="submit">Delete</button>
        </form>
    </section>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>