<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <section>
        <h2 class="text-center mt-3">List of students</h2>
        <div class="colonnes justify-content-center rectangle rectangle--2">
            <% newStudent.forEach(function(student) { %>
            <%= student.name %>
            <% }); %>
        </div>
    </section>
    <section class=" text-center section-two-projects section-two-projects--band-list-students">
        <section class="">
            <form action="/list-student" method="post">
                <label for="insertname" class="label">
                    <p class="p-add-student font-italic">Add Student:</p>
                </label>
                <input class="input-list-student" type="text" placeholder="name" name="name">
                <button class="button button__green" type="submit">Add</button>
            </form>
        </section>
        <section class="">
            <form action="/list-student/delete" method="POST">
                <label for="insertname" class="label">
                    <p class="p-add-student font-italic">Delete Student:</p>
                </label>
                <input class="input-list-student" type="text" placeholder="name" name="name">
                <button class="button button__red" type="submit">Delete</button>
            </form>
        </section>
    </section>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>